<h1>RESULTS:</h1>
<%= form_with url: '/', method: 'get', local: true do |form| %>
    <p>
      Самая длинная последовательность совершенных чисел:
      <%= @longest_seq %>
    </p>
    <p>
      Последовательности совершенных чисел:
      <table>
        <% @sequences.each do |sequence| %>
          <tr>
            <% sequence.each do |el| %>
                <td><%= el %></td>
            <%end%>
          </tr>
        <% end %>
      </table>
    </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
